@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@media screen and (min-width: 390px) and (max-width: 1200px) {
	
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--nav-color: #675d50;
	--nav-text: #fff;
	--primary-color: #f3deba;
	--secondary-color: #abc4aa;
	--hover-color: #a9907e;
}



header {
	background-color: var(--nav-color);
	font-size: 1.2rem;
	font-family: "Merriweather Sans", sans-serif;
	height: 70%;	
}

header .navbar {
	justify-content: space-between;
}

header .navbar ul li {
	padding: 10px;
	margin: 0 10px;
	
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 80%;
	margin: auto;
}

.navbar a {
	color: var(--nav-text);
	font-weight: bold;
}

.navbar a:hover {
	color: var(--secondary-color);
}

.navbar ul {
	display: flex;
}

.navbar ul li {
	list-style-type: none;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: seagreen;
}

.main_page h2 {
	text-align: canter;
}

.login {
	width: 420px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	color: #fff;
	border-radius: 10px;
	padding: 30px 40px;
}

.login h1 {
	font-size: 36px;
	text-align: center;
}

.login .input-box {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 30px 0;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
	padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
	color: #fff;
}

.input-box img {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: tranlateY(-50%);
	font-size: 20px;
}

.login .remember-forgot {
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	margin: -15px 0 15px;
}

.remember-forgot label input {
	accent-color: #fff;
	margin-right: 3px;
}

.remember-forgot a {
	color: #fff;
	text-decoration: none;
}

.remember-forgot a:hover {
	text-decoration: underline;
}

.login .btn {
	width: 100%;
	height: 45px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: 16px;
	color: #333;
	font-weight: 600;
}

.login .register-link {
	font-size: 14.5px;
	text-align: center;
	margin: 20px 0 15px;
}

.register-link p a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

.register-link p a:hover {
	text-decoration: underline;
}



.register-page {
	border: 1px solid black;
}


.register-page .btn {
	width: 100%;
	height: 45px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: 16px;
	color: #333;
	font-weight: 600;
}


.name_box {
	border: 1px solid black;
}

.gender_box {
	border: 1px solid black;
}

.ahw_box {
	border: 1px solid black;
}

.actlvl_box {
	border: 1px solid black;
}

.result_box {
	border: 1px solid black;
}


.callorietrack h2 {
	text-align: center;
}

.weight-track h2 {
	text-align: center;
}

.foodlist h2 {
	text-align: center;
}




